body {
    background-image:url("fooon.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    font-family:cursive;
}

.glass-card {
    widthh: 1000px;
    height: 300px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.99);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    color: black;
    text-align: center;
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.glass-card h2{
    margin-top:0;
}

.button-link {
    display: block;
    margin: 50px auto;
    width: 120px;
    padding: 5px 10px;
    background-color:darkgray;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 5px white,
    0 0 15px white,
    0 0 30px white,
    0 0 50px white,
    0 0 100px white;
}

.button-link:hover{
    transform:translateY(4px);
}

h1 {
    font-size:3em;
}


h1:hover {
    letter-spacing: 2px;
    transition: 0.3s;
    color: black;
   text-shadow: 2px 2px 5px block;
}

h3 {
    font-size:2em;
}

li {
    font-size:1.5em;
}